* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  padding: 12px 32px;
  
}

.logo {
  color: #f4a640;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #f4a640;
}

.book-btn,
.cart-btn {
  background-color: #f4a640;
  color: white;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#nav-home{
    color: #f4a640;
}
